@import "colors";

@each $name, $color in $type-colors-dark {
  :host {
    .icon.#{$name} {
      background-color: $color;

      &::before {
        border-color: $color transparent transparent transparent;
      }
    }
  }
}
@each $name, $color in $type-colors {
  :host.#{$name} {
    background-color: $color;
    box-shadow: 0 0 2px 1px $shadow-scoff;
  }
}
@each $name, $color in $type-colors-light {
}
:host {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  .icon {
    display: flex;
    justify-content: center;
    position: relative;
    width: 48px;
    margin-right: 10px;

    img {
      width: 24px;
      transform: scale(0.8);
    }
    &::before {
      content: "\A";
      border-style: solid;
      border-width: 24px 11.5px 0 0;
      border-color: white transparent transparent transparent;
      position: absolute;
      right: -10.5px;
    }
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 20px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.459);
  }
}
