<div>
  <h1>Weakness</h1>
  <div class="weakness-container" [class.one-weakness]="oneWeakness">
    <px-damage-relations-card
      [damageText]="'2x'"
      [damagesRelations]="damageRelation.double_damage_from"
      [typeSlot]="damageRelation.name"
      *ngFor="let damageRelation of damageRelations"
    ></px-damage-relations-card>
  </div>
  <h2>Resistance</h2>
  <div class="weakness-container" [class.one-weakness]="oneWeakness">
    <px-damage-relations-card
      [damageText]="'0.5x'"
      [damagesRelations]="damageRelation.half_damage_from"
      [typeSlot]="damageRelation.name"
      *ngFor="let damageRelation of damageRelations"
    ></px-damage-relations-card>
  </div>
</div>
