<mat-toolbar>
  <mat-toolbar-row>
    <div class="logo">
      <img src="/assets/images/3-stars-pokemon.png" alt="" />
      <span>Pokedex</span>
    </div>
    <button mat-icon-button (click)="filterDrawer.toggle()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #filterDrawer mode="side">
    <form class="filters" [formGroup]="filtersGroup">
      <mat-form-field appearance="outline">
        <mat-label>Search You Pokemon!</mat-label>
        <input matInput formControlName="search" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Select an range</mat-label>
        <mat-select formControlName="range">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pokemons Sort</mat-label>
        <mat-select formControlName="sort">
          <mat-option value="one">Ascending</mat-option>
          <mat-option value="two">Descending</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Select an type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pokemon Weight</mat-label>
        <mat-select formControlName="weight">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pokemon Height</mat-label>
        <mat-select formControlName="height">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pokemon Weakness</mat-label>
        <mat-select formControlName="weakness">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-drawer>
</mat-drawer-container>

<div class="short-pokemons-content">
  <px-short-pokemon-card
    *ngFor="let pokemon of  pokemons$$| async"
    [routerLink]="['about/' + pokemon.name]"
    [pokemon]="pokemon"
  ></px-short-pokemon-card>
</div>
