<mat-toolbar>
  <mat-toolbar-row>
    <div class="logo">
      <img src="/assets/images/3-stars-pokemon.png" alt="" />
      <span>Pokedex</span>
    </div>
    <button mat-icon-button (click)="filterDrawer.toggle()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #filterDrawer mode="side">
    <div class="filters" [formGroup]="filtersGroup">
      <mat-form-field appearance="outline">
        <mat-label>Search You Pokemon!</mat-label>
        <input matInput formControlName="search" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="range-form-field">
        <mat-label>Select an range</mat-label>
        <mat-select #range formControlName="range">
          <mat-option [value]="key" *ngFor="let key of generationsKeys"
            >{{ key | pokemonTextTitleCasePipe}}</mat-option
          >
          <mat-option value="custom-range">Custom Range</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container
        *ngIf="range.value === 'custom-range'"
        [formGroup]="customRangeGroup"
      >
        <mat-form-field appearance="outline" class="from">
          <mat-label>From</mat-label>
          <input matInput formControlName="from" placeholder="Ex: 1" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="to">
          <mat-label>To</mat-label>
          <input matInput formControlName="to" placeholder="Ex: 151" />
        </mat-form-field>
      </ng-container>

      <mat-form-field appearance="outline">
        <mat-label>Pokemons Sort</mat-label>
        <mat-select formControlName="sort">
          <mat-option value="ascending">Ascending</mat-option>
          <mat-option value="descending">Descending</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Select an type</mat-label>
        <mat-select formControlName="type" [pxDisableControl]="hasWeakness">
          <mat-option>--</mat-option>
          <mat-option
            [value]="typeOption"
            *ngFor="let typeOption of typeFilterOptions$ | async"
            >{{typeOption | titlecase}}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pokemon Weight</mat-label>
        <mat-select formControlName="weight">
          <mat-option>--</mat-option>
          <mat-option
            [value]="weightOption"
            *ngFor="let weightOption of weightFilterOptions$ | async"
            >{{weightOption | weight}}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pokemon Height</mat-label>
        <mat-select formControlName="height">
          <mat-option>--</mat-option>
          <mat-option
            [value]="heightOption"
            *ngFor="let heightOption of heightFilterOptions$ | async"
            >{{heightOption | height}}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pokemon Weakness</mat-label>
        <mat-select formControlName="weakness" [pxDisableControl]="hasTypes">
          <mat-option>--</mat-option>
          <mat-option
            [value]="weaknessOption"
            *ngFor="let weaknessOption of weaknessFilterOptions$ | async"
            >{{weaknessOption | titlecase}}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </mat-drawer>
</mat-drawer-container>
<div
  class="short-pokemons-content"
  [class.not-found]="pokemons.length <= 0"
  *ngIf="pokemons$$ | async as pokemons;"
>
  <ng-container *ngIf="pokemons.length > 0; else notFound">
    <px-short-pokemon-card
      *ngFor="let pokemon of pokemons "
      [weakness]=" selectedWeaknessFilter$ | async"
      [routerLink]="['about/' + pokemon.name]"
      [pokemon]="pokemon"
    ></px-short-pokemon-card>
  </ng-container>

  <ng-template #notFound>
    <div class="not-found">
      <h1>No Pokemons Found</h1>
      <img src="assets/images/pokemon-404.png" alt="not-found" />
      <p>Try to change the filters to find your favorite pokemon!</p>
    </div>
  </ng-template>
</div>
