<a [routerLink]="['/about/' + pokemon.name]">
  <p class="id">#{{ pokemon.id | padStart: 3:"0" }}</p>
  <div class="poke-image">
    <img src="{{ pokemon | spritePath | async }}" />
  </div>
  <h1>{{ pokemon.name | pokemonTitleCase }}</h1>
  <div class="type-container">
    <px-type-card
      [type]="slot.type.name"
      *ngFor="let slot of pokemon?.types"
    ></px-type-card>
  </div>
  <p class="overall">
    overall {{ stats_total | number: "1.0-0" }}
    <mat-progress-bar
      [pxColorProgressBar]="stats_total * stats_overall"
      [value]="stats_total * stats_overall"
      mode="determinate"
    ></mat-progress-bar>
  </p>
  <p class="weight">{{ pokemon.weight | weight }}</p>
  <p class="height">{{ pokemon.height | height }}</p>
</a>
