<p class="id">#{{ pokemon.id | padStart: 3:"0" }}</p>
<img src="{{ pokemon | spritePath | async }}" />
<h1>{{ pokemon.name | pokemonTitleCase }}</h1>
<div class="type-container">
  <px-type-card
    [type]="slot.type.name"
    *ngFor="let slot of pokemon?.types"
  ></px-type-card>
</div>
<p class="overall" *ngIf="total">
  overall {{ total * 10 | number: "1.0-0" }}
  <mat-progress-bar
    [pxColorProgressBar]="total"
    [value]="total"
    mode="determinate"
  ></mat-progress-bar>
</p>
<p class="weight">{{ pokemon.weight | weight }}</p>
<p class="height">{{ pokemon.height | height }}</p>
<a [routerLink]="['/about/' + pokemon.name]"></a>
