<a [routerLink]="['/about/' + pokemon.name]" data-testid="pokemon-card">
  <p class="id" data-testid="pokemon-id">#{{ pokemon.id | padStart: 3:"0" }}</p>

  <div class="poke-image">
    <img
      #pokemonImage
      src="{{ image }}"
      *ngIf="pokemon | spritePath | async; let image"
    />
    <mat-spinner
      data-testid="pokemon-spinner-image"
      class="{{ type }}"
      *ngIf="!pokemonImage"
    ></mat-spinner>
  </div>
  <h1 data-testid="pokemon-name">{{ pokemon.name | pokemonTitleCase }}</h1>
  <div class="type-container">
    <px-type-card
      [attr.data-testid]="'pokemon-type-' + slot.type.name"
      [type]="slot.type.name"
      *ngFor="let slot of pokemon?.types"
    ></px-type-card>
  </div>
  <p class="overall" data-testid="pokemon-overall">
    overall {{ stats_total | number: "1.0-0" }}
    <mat-progress-bar
      data-testid="pokemon-overall-bar"
      class="pxColorProgressBar"
      [value]="stats_total * stats_overall"
      mode="determinate"
    ></mat-progress-bar>
  </p>
  <p class="weight" data-testid="pokemon-weight">
    {{ pokemon.weight | weight }}
  </p>
  <p class="height" data-testid="pokemon-height">
    {{ pokemon.height | height }}
  </p>
</a>
