@import "../../app.component.scss";

$background-color: #fafafa;
$text-color: rgb(48, 48, 48);
$id-color: rgba(128, 128, 128, 0.452);

@each $name, $color in $type-colors-light {
  :host[type="#{$name}"] {
    h1 {
      text-shadow: 0px 0px 2px $color;
    }
    .id {
      text-shadow: 0px 0px 2px $color;
    }
  }
}
a[ng-reflect-router-link] {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

px-type-card {
  position: relative;
  z-index: 2;
}
:host {
  background-color: $background-color;
  box-shadow: 0px 0px 0px 0.5px $shadow-scoff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: "Bebas Neue", cursive;
}
.overall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 80%;
  margin-bottom: 25px;
}

.id {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 15vh;
  color: $id-color;
  opacity: 1;
  position: absolute;
  z-index: 1;
  top: 0;
}
h1 {
  font-size: 4vh;
  font-weight: 800;
  color: $text-color;
  position: relative;
  z-index: 2;
}
img {
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}
.type-container {
  display: flex;
}

.weight {
  top: 0;
  right: 0;
}
.height {
  top: 0;
  left: 0;
}

.height,
.weight {
  text-align: center;
  width: 40px;
  height: 20px;
  color: $text-color;
  position: absolute;
  z-index: 1;
  font-weight: 800;
  border-radius: 100%;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    padding: 15px 6px;
    border-radius: 100%;
    background-color: $background-color;
    box-shadow: 0px 0px 0px 0.7px $shadow-scoff;
    transform: translate(-10%, -30%);
  }
}

mat-progress-bar {
  padding: 5px;
}

px-type-card {
  &:last-child {
    margin-bottom: 15px;
  }
}
