<div class="pokemon-card" *ngIf="pokemon$ | async let pokemon">
  <a [routerLink]="['/']">Homepage</a>

  <p class="id">#{{ pokemon.id | padStart: 3:"0" }}</p>
  <img src="{{ pokemon | spritePath | async }}" />
  <h1>{{ pokemon.name | pokemonTitleCase }}</h1>
  <p class="weight">{{ pokemon.weight | weight }}</p>
  <p class="height">{{ pokemon.height | height }}</p>

  <div class="type-container">
    <px-type-card
      [type]="slot.type.name"
      *ngFor="let slot of pokemon?.types"
    ></px-type-card>
  </div>

  <div class="stats-container" *ngFor="let stats of pokemon.stats">
    <p class="name">{{ stats.stat.name}}</p>
    <p class="value">{{ stats.base_stat}}</p>
    <mat-progress-bar
      class="pxColorProgressBar"
      [value]="stats.base_stat * stats_conversion"
      mode="determinate"
    ></mat-progress-bar>
  </div>
  <mat-spinner
    class="{{ type }}"
    *ngIf="!(pokeAPI.request$$ | async ) "
  ></mat-spinner>
  <div class="evolution" *ngIf="pokemonDetails$ | async let pokemonForms">
    <px-pokemon-card
      [pokemon]="pokemon"
      *ngFor="let pokemon of pokemonForms?.evolutions"
    ></px-pokemon-card>

    <px-pokemon-card
      [pokemon]="pokemon"
      *ngFor="let pokemon of pokemonForms?.variatesPokemons"
    ></px-pokemon-card>
  </div>
</div>
<ng-particles
  *ngIf="hasChanged"
  [id]="id"
  [options]="particlesOptions"
  (particlesLoaded)="particlesLoaded($event)"
  class="{{ type }}"
></ng-particles>
