@import "colors";
@import "colors";
@import "variables";

@each $name, $color in $type-background {
  ng-particles.#{$name} {
    ::ng-deep canvas {
      background-color: $color;
    }
  }
}
@each $name, $color in $type-colors-light {
  :host[type="#{$name}"] {
    .pokemon-card::after {
      content: "";
      z-index: -1;
      opacity: 0.5;
      border-radius: 15px;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color;
    }
  }

  ::ng-deep body.#{$name} {
    &::-webkit-scrollbar-thumb {
      background-color: $color;
    }
  }
}

@each $name, $color in $type-colors-dark {
  mat-spinner.#{$name} {
    margin-top: 20px;
    ::ng-deep circle {
      stroke: $color !important;
    }
  }

  ::ng-deep body.#{$name}::-webkit-scrollbar-track {
    border: 5px solid $color;
  }
}

:host {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;

  &.ng-animating ng-particles {
    opacity: 0;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-color: #181b1d;
    z-index: -3;
  }

  &.ng-animating > .pokemon-card,
  &.ng-animating > ng-particles {
    opacity: 0;
  }

  ::ng-deep px-pokemon-card .id {
    font-size: calc(3em + 0.5vw) !important;
  }
}
.pokemon-card {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
  font-size: 26px;
  width: 100%;
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-family: "Bebas Neue", cursive;
  animation: fadeIn 0.5s;
  transition: opacity 0.2s;
  max-width: $max-width;

  a:first-child {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
  }

  .stats-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .name {
    min-width: 140px;
    width: 100%;
    word-break: break-all;
  }
  .value {
    width: min-content;
    min-width: 60px;
    margin-right: 5px;
    margin-left: 5px;
  }
  ::ng-deep .mat-progress-bar {
    border-radius: 15px !important;
    height: 10px !important;
  }

  h1 {
    text-align: center;
  }

  .type-container {
    height: 24px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  px-type-card:last-child {
    margin-left: 5px;
  }
}
.evolution {
  margin-top: 20px;
  width: 100%;
  max-width: $max-width;
}

ng-particles {
  position: absolute;
  z-index: -1;
}
