<div class="about {{type}}" *ngIf="pokemon">
  <a [routerLink]="['/']">Homepage</a>
  <p class="id">#{{ pokemon.id | padStart: 3:"0" }}</p>
  <img src="{{ pokemon | spritePath | async }}" />
  <h1>{{ pokemon.name | pokemonTitleCase }}</h1>
  <p class="weight">{{ pokemon.weight | weight }}</p>
  <p class="height">{{ pokemon.height | height }}</p>

  <div class="type-container">
    <px-type-card
      [type]="slot.type.name"
      *ngFor="let slot of pokemon?.types"
    ></px-type-card>
  </div>

  <div class="stats-container">
    <p class="stats" *ngFor="let stats of pokemon.stats">
      {{ stats.stat.name | pokemonTitleCase }}: {{ stats.base_stat }}
      <mat-progress-bar
        [pxColorProgressBar]="stats.base_stat / 1.5"
        [value]="stats.base_stat / 1.5"
        mode="determinate"
      ></mat-progress-bar>
    </p>
  </div>

  <ng-particles
    [id]="id"
    [options]="particlesOptions"
    (particlesLoaded)="particlesLoaded($event)"
    class="{{ pokemon.types[0].type.name }}"
  ></ng-particles>
</div>
