<mat-drawer-container autosize>
  <mat-drawer #drawer mode="push">
    <px-slide-option
      [option]="'Animation'"
      [status]="animationStatus"
      [icon]="'movie_creation'"
      (change)="slideStatus($event)"
    ></px-slide-option>
    <px-slide-option
      [option]="'Reset Cache'"
      [status]="resetStatus"
      [icon]="'restart_alt'"
      (change)="resetCache($event)"
    ></px-slide-option>
  </mat-drawer>
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet
      (activate)="onActivate($event)"
      #outlet="outlet"
    ></router-outlet>
  </div>
</mat-drawer-container>
<div class="pokemon-engine" (click)="drawer.toggle()">
  <img src="/assets/images/pokemon-engine.png" alt="pokemon-engine" />
</div>
