$type-colors: (
  "fire": #f08030,
  "grass": #78c850,
  "electric": #f8d030,
  "water": #5bc7e5,
  "ground": #e0c068,
  "rock": #b8a038,
  "fairy": #e03a83,
  "poison": #a040a0,
  "bug": #a8b820,
  "dragon": #7038f8,
  "psychic": #f85888,
  "flying": #a890f0,
  "fighting": #c03028,
  "normal": #a8a878,
  "ice": #9db7f5,
  "ghost": #705898,
  "dark": #705848,
  "steel": #b8b8d0,
);

$type-colors-light: (
  "fire": #b38361e0,
  "grass": #a7db8d,
  "electric": #fae078,
  "water": #94dbee,
  "ground": #ebd69d,
  "rock": #d1c17d,
  "fairy": #ea7eae,
  "poison": #c183c1,
  "bug": #afbb57,
  "dragon": #a27dfa,
  "psychic": #fa92b2,
  "flying": #c6b7f5,
  "fighting": #d67873,
  "normal": #c6c6a7,
  "ice": #748cc2,
  "ghost": #7141bebd,
  "dark": #a29288,
  "steel": #d1d1e0,
);
$type-colors-dark: (
  "fire": #d45a03,
  "grass": #309000,
  "electric": #d8ad00,
  "water": #008db4,
  "ground": #c08d00,
  "rock": #aa8b00,
  "fairy": #ac004d,
  "poison": #8d008d,
  "bug": #8fa100,
  "dragon": #1a0252ad,
  "psychic": #800d2f,
  "flying": #371895,
  "fighting": #f335008c,
  "normal": #979702,
  "ice": #016b6b,
  "ghost": #463364,
  "dark": #49392f,
  "steel": #787887,
);
$shadow-scoff: rgba(0, 0, 0, 0.459);
$type-background: (
  "fairy": #ea7eae,
  "grass": #60ad39,
  "ground": #c08d00,
  "normal": #a8a878,
  "poison": #8d008d,
  "ghost": #705898,
  "fire": #160001,
  "water": #008db4,
  "ice": #748cc2,
  "bug": #c6d16e,
  "electric": #d8ad00,
);

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
