:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pokemons-content {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
}

px-pokemon-card {
  min-height: 210px;
  width: 100%;
  animation: fadeIn 1s ease-in-out;
}

ng-particles {
  animation: fadeIn 0.5s ease-in-out;
  z-index: -1;
  ::ng-deep.tsparticles-canvas-el {
    background-image: linear-gradient(
      -225deg,
      #e3fdf5 0%,
      #ffe6fa 100%
    ) !important;
  }
}
@media screen and (max-width: 280px) {
  :host {
    padding: 0;
  }
}
