@import "keyframes";

.loading-progress {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/about-loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #181b1d;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-progress-bar {
    left: -10px;
    transform: translateY(450%);
    padding: 20px;
  }
}

:host {
  &::before {
    content: "";
    position: fixed;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  }

  &.ng-animating ng-particles {
    opacity: 0;
  }
}

.pokemons-content {
  margin-top: 250px;
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
}

px-pokemon-card {
  min-height: 210px;
  width: 100%;
  animation: fadeIn 1s ease-in-out;
}

.spinner {
  display: flex;
  width: 100%;
  height: 290px;
  align-items: center;
  justify-content: center;
}

ng-particles {
  z-index: -1;
}

.filters {
  user-select: none;
  display: flex;
  flex-direction: column;
  top: 0;
  position: fixed;

  z-index: 1;
  margin-left: 20px;
  width: calc(100% - 35px);
  padding: 20px;
  margin-top: 15px;
  height: 100%;
  max-height: 240px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);

  mat-form-field {
    input {
      cursor: pointer;
    }
  }

  .range-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;

    .range-input {
      cursor: pointer;
      margin-right: 10px;
      min-width: 215px;
      max-height: 80px;
    }

    mat-form-field {
      width: 100%;
    }
    .custom-range {
      font-family: Roboto, "Helvetica Neue", sans-serif;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      mat-error {
        margin-top: 22px;
        margin-left: 25px;
      }

      div {
        cursor: default;
        width: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        top: -22px;
        left: 3px;
        max-height: 50px;

        mat-form-field {
          margin: 5px;
        }
      }
    }
  }

  .type-option {
    max-width: 150px;
  }
}

@media screen and (max-width: 280px) {
  :host {
    padding: 0;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep .mat-form-field-appearance-fill.custom-range .mat-form-field-infix {
  width: 80%;

  input {
    position: relative;
    text-align: center;
    top: -15px;
  }
}

::ng-deep .mat-form-field-appearance-fill.custom-range .mat-form-field-wrapper {
  top: 8px;
  min-width: 70px;
  padding-bottom: 0.5em !important;
}

::ng-deep .mat-form-field-appearance-fill.custom-range .mat-form-field-flex {
  padding: 0 !important;
  width: 100%;
  height: 100%;
  max-height: 22px;
}
