@import "colors";

@each $name, $color in $type-colors-dark {
  div.#{$name} {
    position: relative;
    top: -4.5px;
    padding: 3px;
    border-radius: 50%;
    background-color: $color;
  }
}

:host {
  position: relative;
  border: ridge;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.type-slot {
  position: absolute;
  top: -30px;
  left: 44%;
}

.damage-relation {
  position: relative;
  top: 5px;
  display: grid;
  width: 100%;
  max-width: 165px;
  grid-gap: 9px;
  gap: 9px;
  grid-template-columns: repeat(auto-fill, minmax(56px, 1fr));
  padding-left: 3px;
  padding-bottom: 5px;

  p {
    min-width: 30px;
    text-align: center;
    position: relative;
    right: 3px;
  }

  div {
    display: flex;
    justify-content: space-around;
  }
}

img {
  width: 16px;
}
