mat-drawer {
  position: fixed !important;
  width: 100%;
  height: 100%;
}

mat-drawer.filters-options {
  width: 100%;
  top: 80px;
  padding: 20px;
  border-radius: 0px 0px 15px 15px;
  background-color: rgba(255, 255, 255, 0.95);
  height: min-content;

  .mat-drawer-inner-container {
    overflow: hidden;
  }
}
.mat-drawer.mat-drawer-push {
  background-color: rgba(255, 255, 255, 0.4);
}

mat-drawer-container {
  background-color: transparent;
}

mat-progress-bar.pxColorProgressBar .mat-progress-bar-fill::after {
  background-color: var(--color) !important;
}

@media screen and (max-width: 450px) {
  mat-drawer.filters-options {
    .mat-drawer-inner-container {
      display: flex;
      justify-content: center;
      min-height: 380px;
      max-height: 500px;
      height: 100%;
      overflow-y: scroll;
    }
  }
}
