$font-family-primary: "Bebas Neue", cursive;
$font-family-secondary: "Balsamiq Sans", cursive;
$font-family-third: "Montserrat", sans-serif;
$max-width: 900px;
$card-border-radius: 15px;
$mobile-media-query: 650px;
$mobile-small-media-query: 280px;
