@import "colors";
@import "variables";
@import "mixins";

:host {
  background: $white-background;
  @include full-size;
  min-height: 200px;
  padding: 10px;
  border-radius: $card-border-radius;
  text-align: start;
  h1 {
    font-family: $font-family-primary;
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
  }
}

.stats {
  @include full-size;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-family-primary;
}
.name {
  min-width: 140px;
  width: 100%;
  word-break: break-all;
}
.value {
  text-align: center;
  width: min-content;
  min-width: 60px;
  margin-right: 5px;
  margin-left: 5px;
}
::ng-deep .mat-progress-bar {
  border-radius: 15px !important;
  height: 10px !important;
}
