<div class="auto-size">
  <table
    data-testid="table"
    mat-table
    [class.pointer]="tablePointer"
    [dataSource]="tableData"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    <ng-container
      [matColumnDef]="column"
      *ngFor="let column of displayedColumns"
    >
      <ng-container *ngIf="hasSort; else noSort">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          data-testid="sort-header"
        >
          {{ column | pokemonTextTitleCasePipe }}
        </th>
      </ng-container>
      <ng-template #noSort>
        <th mat-header-cell *matHeaderCellDef>
          {{ column | pokemonTextTitleCasePipe }}
        </th>
      </ng-template>

      <td
        mat-cell
        *matCellDef="let data"
        class="{{ column === 'type' ? data[column] : '' }}"
      >
        {{ data[column] | pokemonTextTitleCasePipe }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickRow(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>
<mat-paginator
  data-testid="paginator"
  *ngIf="paginatorOptions"
  [pageSizeOptions]="paginatorOptions"
  showFirstLastButtons
>
</mat-paginator>
